* {
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    background-color: #adcbe3;
    height: 100%;
    margin: 0;
}  

.search {
    padding: 25px;
    float: left;
}

.navbar-brand {
    line-height: 30px;
    text-decoration: white;
}

.searchBtn {
    background-color: blanchedalmond;
    width: 50px;
    height: auto;
    border: none;
    border-radius: 20%;
    justify-content: center;
    transition-duration: .4s;
}

.searchBtn:hover {
    background-color: greenyellow;
}

.navbar {
    text-align: center;
    background-color: #4b86b4;
    font-family: 'Noto Sans', sans-serif;
    border-radius: 0;
    border-bottom: 2px solid black;
}

.forecast {
    margin-top: 25px;
    border: solid 1px #cecfd2;
    margin-left: 5%;
    min-width: 640px;
    padding: 12px 15px 15px 15px;
    height: 40%;
}

.fiveDay {
    margin-top: 25px;
    border: solid 1px #cecfd2;
    margin-left: 5%;
    min-width: 640px;
    padding: 12px 15px 15px 15px;
    height: 40%;
}

li:first-child {
    height: 100%;
    font-size: larger;
    background-color: white;
    border: solid 1px #cecfd2;
    border-radius: 6px 6px 0px 0px;
    padding: 12px 5px 12px 15px;
    list-style: none;
}

li {
    height: 100%;
    font-size: larger;
    background-color: white;
    border: solid 1px #cecfd2;
    border-radius: 0px 0px 0px 0px;
    padding: 12px 5px 12px 15px;
    list-style: none;
}

li:last-child {
    height: 100%;
    font-size: larger;
    background-color: white;
    border: solid 1px #cecfd2;
    border-radius: 0px 0px 6px 6px;
    padding: 12px 5px 12px 15px;
    list-style: none;
}